.icon-delete{
    color: red;
    cursor: pointer;
}
.icon-edit{
    color: rosybrown;
    cursor: pointer;
}
.icon-eye{
    color: rgb(80, 117, 190);
    cursor: pointer;
}
.viewEmp{
    cursor: pointer;
}
mat-paginator {
background-color:wheat;  }
