
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h5 fw-bold text-danger">View Employee</p>
        </div>
    </div>
</div>
<form [formGroup]="employeeForm">
<div class="row column1">
    <div class="col">
        <div>
           <mat-form-field class="fieldLength">
            <mat-label>First Name</mat-label>
            <input
            formControlName="empFirstName" 
            [(ngModel)]="employee.empFirstName" 
            readonly="true" 
            matInput>
           </mat-form-field>
        </div>
        <div>
            <mat-form-field class="fieldLength">
             <mat-label>Last Name</mat-label>
             <input formControlName="empLastName" [(ngModel)]="employee.empLastName" readonly="true" matInput>
            </mat-form-field>
         </div>
         <div>
            <mat-form-field class="fieldLength">
             <mat-label>Gender</mat-label>
             <input formControlName="empGender" [(ngModel)]="employee.empGender" readonly="true" matInput>
            </mat-form-field>
         </div>
         <div>
            <mat-form-field appearance="fill" class="datePicker">
                <mat-label>Date of Birth</mat-label>
                <input  [max]="today" matInput
                [matDatepicker]="datepicker" 
                [(ngModel)]="employee.empDateOfBirth"
                readonly="true"
                formControlName="empDateOfBirth">
                <mat-datepicker #datepicker>
                </mat-datepicker>
              </mat-form-field>
            </div>
         <!-- <div>
            <mat-form-field class="fieldLength">
             <mat-label>Date of Birth</mat-label>
             <input formControlName="empDateOfBirth" [(ngModel)]="employee.empDateOfBirth" readonly="true" matInput>
            </mat-form-field>
         </div> -->
        <div>
            <mat-form-field class="fieldLength">
                <mat-label>Phone</mat-label>
                <input (keypress)="numberOnly($event)" 
                formControlName="empPhoneNumber" 
                maxlength="10" 
                minlength="10" 
                readonly="true"
                [(ngModel)]="employee.empPhoneNumber"
                matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="fieldLength">
                <mat-label>Email</mat-label>
                <input formControlName="empEmailId"  [(ngModel)]="employee.empEmailId" readonly="true" matInput>
            </mat-form-field>
        </div>
       
        <div>
            <mat-form-field class="fieldLength">
                <mat-label>Address 1</mat-label>
                <input formControlName="empHomeAddrLine1"  
                readonly="true"
                [(ngModel)]="employee.empHomeAddrLine1"
                matInput>
            </mat-form-field>
        </div>
    </div>
    <div class="col column1">
        <div>
            <mat-form-field class="fieldLength">
                <mat-label>Address 2</mat-label>
                <input formControlName="empHomeAddrLine2" 
                [(ngModel)]="employee.empHomeAddrLine2" readonly="true" matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="fieldLength">
                <mat-label>Street</mat-label>
                <input formControlName="empHomeAddrStreet" readonly="true" [(ngModel)]="employee.empHomeAddrStreet" matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="fieldLength">
                <mat-label>District</mat-label>
                <input formControlName="empHomeAddrDistrict" readonly="true" [(ngModel)]="employee.empHomeAddrDistrict" matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="fieldLength">
                <mat-label>State</mat-label>
                <input formControlName="empHomeAddrState" readonly="true" [(ngModel)]="employee.empHomeAddrState" matInput>
            </mat-form-field>
        </div>
        
        <div>
        <mat-form-field appearance="fill" class="datePicker">
            <mat-label>Date of Joining</mat-label>
            <input  [max]="today" matInput
            [matDatepicker]="datepicker" 
            [(ngModel)]="employee.empDateOfJoining"
            readonly="true"
            formControlName="empDateOfJoining">
            <mat-datepicker #datepicker>
            </mat-datepicker>
          </mat-form-field>
        </div>
        
        <div>
            <mat-form-field class="fieldLength">
                <mat-label>Country</mat-label>
                <input formControlName="empHomeAddrCountry" readonly="true" [(ngModel)]="employee.empHomeAddrCountry" matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="fieldLength">
                <mat-label>Pincode</mat-label>
                <input formControlName="empHomeAddrPinCode" 
                matInput 
                readonly="true"
                [(ngModel)]="employee.empHomeAddrPinCode"
                (keypress)="numberOnly($event)">
            </mat-form-field>
        </div>
    </div>
</div>
<div class="buttons">
    <button routerLink="/" class="btn btn-dark ms-2"><li class="fa fa-close"></li> Close</button>
</div>
</form>