.date{
    width: 100%;
    background-color: white;
    height: 57px;
    width: auto;
    border-radius: 10px;
}
.datePicker{
    width: 100%;
}
.column1{
    margin-left: 20px;
    margin-right: 20px;;
}
.buttons{
    text-align: end;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.fieldLength{
    width: 100%;
}
.error-message{
    color: red;
    font-size: 12px;
}
